* {
  margin: 0%;
  padding: 0%;
}


a {
text-decoration: none;
border: 1px solid white;
padding: 3px;
}

a:hover {
/* text-decoration: underline; */
border: 1px solid gray;
color: red;
}

#first-nav {
  text-align: right;
  padding: 12px;
  background: lightgrey;
}

#second-nav {
padding: 12px;
}



#second-nav .logo {
  height: 60px;
}

#banner {
text-align: center;
padding: 80px;
background-image: url(https://placeimg.com/1000/300/tech);
color: white;
}



#banner button,
#banner h1 {
margin: 12px;


}

#banner button {
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 12px 24px;
}

.items { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 48px;
      }

.items .item-product {
          width: 24%;
          text-align: center;
          border: 1px solid #999;
          margin: 12px auto;
      }

.items .item-product img {
          width: 100%;
      }
      
.items .item-product p {
          margin: 12px;
          line-height: 32px;
      }


      .App-ItemsList-paginado
      {
      background-color: gold;
      text-align: center;
      font-weight: bold;
      width: 50%;
      padding: 12px;
      margin: auto;
      display: block;
    }

      #cookie{
background: black;
padding: 24px;
text-align: center;
color: blanchedalmond;
width: 100%;
position: sticky;
bottom: 0%;



}            
#cookie a {
border: none;
color: white;
}

#footer {
height: 200px;
background: lightgray;
padding: 24px;
width: 100%;
}

#footer form input {
padding: 6px;
font-size: 18px;
color: blue;
border: 1px solid cadetblue;
border-radius: 3px;
}

#footer form button {
font-size: 18px;
border-radius: 3px;
padding: 6px;
color: white;
background: dodgerblue;
border: 1px solid dodgerblue;
}




      @media screen and (max-width: 768px) {
          #banner {
              padding: 20px;
          }
      
          #banner h1 {
              font-size: 36px;
          }
      
          #items { 
              padding: 24px;
          }
      
          #items .item-product {
              width: 48%;
          }
      }
      
      
      @media screen and (max-width: 425px) {
          #second-nav .logo {
              height: 36px;
          }
      
          #second-nav .second-nav-menu {
              position: relative;
          }
      
          #second-nav .second-nav-links {
              display: none;
              position: absolute;
              top: 36px;
              right: 0px;
              background: white;
          }

          
              
      
          #second-nav .second-nav-hamburger {
              border: 1px solid gray;
              text-align: center;
          }
      
          #second-nav .second-nav-hamburger:hover + .second-nav-links {
              display: flex;
              flex-direction: column;
              text-align: right;
          }
      
          #banner {
              display: box;
          }
      
          #items { 
              padding: 12px;
          }
      
          #items .item-product {
              width: 100%;
          }
      }
      
    